
*{
	box-sizing:border-box;
	table-layout:auto;
	
}


img{
	max-width: 100px;
}

h3{
	margin: 0px;
}

.borders{
	border:5px solid #bebebe;
	border-radius: 0.7em;
}


.textSearch{
	padding: 1em;
	margin: 1em;
	width: 75%;
}

.BTNSearch{
	padding: 1em;
	margin: 1em;
	width: 15%;
}



.FoundImages{
	text-align: center;
	width: 100%;
	
}


.FoundText{
	min-height: 30em;
	display: block;
}


.log{
	border:5px solid #ffffff;
	
}


.navigation{
	text-align: center;
	display: block;
}

.navigation > *{
	font-weight: bold;
	font-size: 150%;
	cursor: pointer;
}

.navigation > span:hover{
	color:rgb(99, 99, 255);
}

.navigation > .active{
	text-decoration: underline;
	color:rgb(99, 99, 255);
}




.navigation > *{
	font-weight: bold;
	font-size: 150%;
	cursor: pointer;
	color:#ffffff;
}

.navigation > span:hover{
	color:rgb(99, 99, 255);
}

.navigation > .active{
	text-decoration: underline;
	color:rgb(99, 99, 255);
}




