
*{
	box-sizing:border-box;
	table-layout:auto;
}

body{
	text-align: center;
	margin: 5px;
	padding: 5px;
}

img{
	max-width: 100px;
}

.borders{
	border:5px solid #bebebe;
	border-radius: 0.5em;
}


div{
	margin: 5px;
	padding: 5px;
}


.Search{
}


.TextSearch{
}


.BTNSearch{
}


.FoundImages{
}


.FoundText{
}


.log{
	border:5px solid #ffffff;
	width: 100%;
	text-align: left;
}